<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently working as Head of IT at <a class="underline-link" href="https://bengkelprint.co.id/"
        target="_blank">Blue Tech Innovation</a> while pursuing a Bachelor's degree in Information Systems at <a
        class="underline-link" href="https://ut.ac.id/" target="_blank">Universitas Terbuka</a>. My daily
      responsibilities include leading development teams, ensuring efficient implementation of business processes
      through software, and staying aligned with modern technology trends.
    </p>

    <p>
      Beyond technical work, I enjoy mentoring junior developers and simplifying complex ideas into clean, maintainable
      code. I’m also exploring AI and Machine Learning as part of my ongoing curiosity for technologies that shape the
      future.
    </p>

    <p>
      In my free time, I like building small tools to automate everyday tasks, organizing ideas visually, and
      occasionally sketching UI concepts by hand—merging logic with creativity is something I really enjoy.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>